/* Variables */
/* Main layout */
html {
  box-sizing: border-box;
  font-family: Arial, Helvectica, sans-serif;
  color: black;
}

body {
  background: white;
  margin: 0 auto;
  background-color: #fff;
}

/* Home page */
.wrapper {
  display: grid;
  grid-template-rows: 1fr 10fr 5fr 10fr 1fr;
  height: 100vh;
}

.home-nav-bar {
  display: flex;
  align-items: center;
  text-decoration: none !important;
  padding: 0.5rem;
}
.home-nav-bar .home-nav-link {
  text-decoration: none !important;
}
.home-nav-bar .home-nav-link .logo {
  flex: 90%;
  display: flex;
  margin-left: 1.7rem;
  align-items: center;
}
.home-nav-bar .home-nav-link .logo .home-nav-logo {
  display: flex;
  align-items: center;
}
.home-nav-bar .home-nav-link .logo .home-nav-logo img {
  width: 36px;
}
.home-nav-bar .home-nav-link .logo .home-nav-title {
  padding-left: 0.6rem;
}
.home-nav-bar .home-nav-link .logo .home-nav-title span {
  font-size: 23px;
  font-weight: bold;
  font-family: Verdana;
  color: black !important;
}
.home-nav-bar .nav-button {
  flex: 15%;
  margin-right: 1rem;
  text-align: right;
}
.home-nav-bar .nav-button a {
  background-color: #28BBF7;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 14px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.home-nav-bar .nav-button a:hover {
  background-color: #09AAEE;
}

.home-body-intro {
  display: flex;
  align-items: center;
  line-height: 1.6;
  background-color: #01161B;
  box-shadow: 0 1px 6px #333;
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.home-body-intro .home-body-text {
  flex: 30%;
  margin-left: 14.5%;
}
.home-body-intro .home-body-text header {
  font-size: 38px;
  font-weight: bold;
  color: #fff;
  font-family: Verdana;
}
.home-body-intro .home-body-text p {
  font-size: 18px;
  color: #fff;
  padding-bottom: 1rem;
  font-family: Trebuchet MS;
}
.home-body-intro .home-body-text a {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  color: #333;
  padding: 14px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.home-body-intro .home-body-text a:hover {
  background-color: #0082B8;
  color: white;
}
.home-body-intro .home-body-image {
  flex: 50%;
  padding-left: 4rem;
  margin-right: 3rem;
}
.home-body-intro .home-body-image img {
  width: 55rem;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 1px 6px #333;
}

.home-features .home-features-innerdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  text-align: center;
}
.home-features .home-features-innerdiv .home-sharefiles {
  flex: 33%;
}
.home-features .home-features-innerdiv .home-realtime {
  flex: 33%;
}
.home-features .home-features-innerdiv .home-channels {
  flex: 33%;
}
.home-features .home-features-innerdiv i {
  font-size: 2.3rem;
  color: #00A2E5;
}
.home-features .home-features-innerdiv header {
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 1.7rem;
  font-family: Verdana;
  color: #008DC8;
}
.home-features .home-features-innerdiv p {
  padding-top: 1rem;
  font-size: 1.1rem;
  font-family: Trebuchet MS;
  width: 75%;
  margin: 0 auto;
  color: #008DC8;
}

.home-socketio .home-socketio-innerdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #A3E4FF;
}
.home-socketio .home-socketio-innerdiv .home-socketio-img {
  flex: 50%;
  padding-left: 3rem;
  margin-right: 3rem;
}
.home-socketio .home-socketio-innerdiv .home-socketio-img img {
  width: 55rem;
  max-width: 100%;
}
.home-socketio .home-socketio-innerdiv .home-socketio-body {
  flex: 50%;
  text-align: center;
  padding-left: 1.5rem;
}
.home-socketio .home-socketio-innerdiv .home-socketio-body header {
  padding-bottom: 1.5rem;
}
.home-socketio .home-socketio-innerdiv .home-socketio-body header img {
  width: 7rem;
}
.home-socketio .home-socketio-innerdiv .home-socketio-body p {
  font-size: 1.3rem;
  font-family: Trebuchet MS;
  font-weight: bold;
}

.home-footer {
  display: flex;
  align-items: center;
  padding: 3rem;
  background-color: black;
  color: white;
}
.home-footer footer {
  font-size: 16px;
  font-weight: bold;
  margin-left: 1.7rem;
}

/* Home page on mobile */
@media screen and (max-width: 1100px) {
  .home-nav-bar {
    padding: 0.5rem;
  }
  .home-nav-bar .home-nav-link .logo .home-nav-logo img {
    width: 34px;
  }
  .home-nav-bar .home-nav-link .logo .home-nav-title span {
    font-size: 21px;
  }
  .home-nav-bar .nav-button a {
    padding: 12px 20px;
    font-size: 14px;
  }

  .home-body-intro {
    flex-direction: column;
    line-height: 1.6;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .home-body-intro .home-body-text {
    flex: 30%;
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .home-body-intro .home-body-text header {
    font-size: 30px;
  }
  .home-body-intro .home-body-text p {
    font-size: 16px;
    padding-bottom: 1rem;
  }
  .home-body-intro .home-body-text a {
    padding: 12px 24px;
    font-size: 16px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }
  .home-body-intro .home-body-text a:hover {
    background-color: #0082B8;
    color: white;
  }
  .home-body-intro .home-body-image {
    margin-top: 2.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 0;
    margin-bottom: 1rem;
  }

  .home-features .home-features-innerdiv {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
  }
  .home-features .home-features-innerdiv .home-sharefiles {
    margin-bottom: 3rem;
  }
  .home-features .home-features-innerdiv .home-realtime {
    margin-bottom: 3rem;
  }
  .home-features .home-features-innerdiv .home-channels {
    flex: 33%;
  }
  .home-features .home-features-innerdiv i {
    font-size: 2rem;
  }
  .home-features .home-features-innerdiv header {
    font-size: 1.1rem;
    padding-top: 0.8rem;
  }
  .home-features .home-features-innerdiv p {
    padding-top: 0.5rem;
    font-size: 1rem;
    width: 75%;
  }

  .home-socketio .home-socketio-innerdiv {
    flex-direction: column;
    padding: 5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .home-socketio .home-socketio-innerdiv .home-socketio-img {
    padding-left: 0;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 4rem;
  }
  .home-socketio .home-socketio-innerdiv .home-socketio-body {
    padding-left: 0;
  }
  .home-socketio .home-socketio-innerdiv .home-socketio-body header {
    padding-bottom: 0.5rem;
  }
  .home-socketio .home-socketio-innerdiv .home-socketio-body header img {
    width: 5.5rem;
  }
  .home-socketio .home-socketio-innerdiv .home-socketio-body p {
    font-size: 1rem;
  }

  .home-footer {
    padding: 3rem;
  }
  .home-footer footer {
    font-size: 14px;
    margin-left: 0;
  }
}
/* End Home page mobile */
/* End Home page */
/* Login page */
.wrapper-login {
  display: grid;
  grid-template-rows: 1fr 10fr;
  height: 100vh;
}
.wrapper-login .nav-button-login {
  flex: 15%;
  margin-right: 2.05rem;
  text-align: right;
}
.wrapper-login .nav-button-login a {
  background-color: #28BBF7;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 14px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.wrapper-login .nav-button-login a:hover {
  background-color: #09AAEE;
}

.outer-body-login {
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer-body-login .body-login {
  height: 100%;
  text-align: center;
  width: 35%;
}
.outer-body-login .body-login header {
  padding-top: 3rem;
  padding-bottom: 2.5rem;
  font-size: 35px;
  font-weight: bold;
  font-family: Verdana;
}
.outer-body-login .body-login .inner-body-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0F0F0;
  margin-bottom: 5rem;
  padding-top: 0;
  border-radius: 10px;
  box-shadow: 0 1px 6px #333;
  text-align: left;
}
.outer-body-login .body-login .inner-body-login .error-block {
  width: 100%;
  margin-bottom: 1.5rem;
  background-color: #F11717;
  border-radius: 5px;
  display: none;
}
.outer-body-login .body-login .inner-body-login .error-block .error-innerblock {
  padding: 0.7rem;
  font-weight: bold;
  color: white;
  line-height: 1.5;
}
.outer-body-login .body-login .inner-body-login .login-body-form {
  width: 100%;
  padding: 4rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.outer-body-login .body-login .inner-body-login .login-body-form h1 {
  font-size: 18px;
  margin: 0;
  padding-bottom: 0.4rem;
}
.outer-body-login .body-login .inner-body-login .login-body-form input {
  font-size: 18px;
  border: solid 2px grey;
  border-radius: 4px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.4rem;
  width: 100%;
  margin-bottom: 2rem;
}
.outer-body-login .body-login .inner-body-login .login-body-form button {
  background-color: #28BBF7;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  margin: 4px 0px;
  cursor: pointer;
  width: 102.9%;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.outer-body-login .body-login .inner-body-login .login-body-form button:hover {
  background-color: #09AAEE;
}
.outer-body-login .body-login .inner-body-login .login-body-form .not-member {
  text-align: center;
  font-size: 17px;
  padding-top: 1.5rem;
}
.outer-body-login .body-login .inner-body-login .login-body-form .not-member a {
  font-weight: bold;
  color: #5875D9;
  text-decoration: none;
}
.outer-body-login .body-login .inner-body-login .login-body-form .not-member a:hover {
  text-decoration: underline;
}

/* Login page on mobile */
@media screen and (max-width: 1000px) {
  .wrapper-login {
    display: grid;
    grid-template-rows: 1fr 10fr;
    height: 100vh;
  }
  .wrapper-login .home-nav-bar {
    padding: 0.5rem;
  }
  .wrapper-login .home-nav-bar .home-nav-link .logo .home-nav-logo img {
    width: 34px;
  }
  .wrapper-login .home-nav-bar .home-nav-link .logo .home-nav-title span {
    font-size: 21px;
  }
  .wrapper-login .home-nav-bar .nav-button-login {
    margin-right: 1rem;
  }
  .wrapper-login .home-nav-bar .nav-button-login a {
    padding: 12px 20px;
    font-size: 14px;
  }

  .outer-body-login .body-login {
    width: 100%;
    margin-bottom: 5rem;
  }
  .outer-body-login .body-login header {
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 31px;
  }
  .outer-body-login .body-login .inner-body-login {
    padding-top: 0;
    width: 80%;
    margin: 0 auto;
  }
  .outer-body-login .body-login .inner-body-login .error-block {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .outer-body-login .body-login .inner-body-login .login-body-form {
    width: 100%;
    padding: 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .outer-body-login .body-login .inner-body-login .login-body-form h1 {
    font-size: 16px;
    margin: 0;
    padding-bottom: 0.4rem;
  }
  .outer-body-login .body-login .inner-body-login .login-body-form input {
    font-size: 16px;
  }
  .outer-body-login .body-login .inner-body-login .login-body-form button {
    padding: 15px 32px;
    font-size: 15px;
  }
  .outer-body-login .body-login .inner-body-login .login-body-form .not-member {
    font-size: 15px;
  }
}
/* End Login page mobile */
/* End Login page */
/* Register page */
.wrapper-register {
  display: grid;
  grid-template-rows: 1fr 10fr;
  height: 100vh;
}
.wrapper-register .nav-button-login {
  flex: 15%;
  margin-right: 2.05rem;
  text-align: right;
}
.wrapper-register .nav-button-login a {
  background-color: #28BBF7;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 14px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.wrapper-register .nav-button-login a:hover {
  background-color: #09AAEE;
}

.outer-body-register {
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer-body-register .body-register {
  height: 100%;
  text-align: center;
  width: 35%;
}
.outer-body-register .body-register header {
  padding-top: 3rem;
  padding-bottom: 2.5rem;
  font-size: 35px;
  font-weight: bold;
  font-family: Verdana;
}
.outer-body-register .body-register .inner-body-register {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0F0F0;
  margin-bottom: 5rem;
  padding-top: 0;
  border-radius: 10px;
  box-shadow: 0 1px 6px #333;
  text-align: left;
}
.outer-body-register .body-register .inner-body-register .error-block {
  width: 100%;
  margin-bottom: 1.5rem;
  background-color: #F11717;
  border-radius: 5px;
  display: none;
}
.outer-body-register .body-register .inner-body-register .error-block .error-innerblock {
  padding: 0.7rem;
  font-weight: bold;
  color: white;
  line-height: 1.5;
}
.outer-body-register .body-register .inner-body-register .register-body-form {
  width: 100%;
  padding: 4rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.outer-body-register .body-register .inner-body-register .register-body-form h1 {
  font-size: 18px;
  margin: 0;
  padding-bottom: 0.4rem;
}
.outer-body-register .body-register .inner-body-register .register-body-form input {
  font-size: 18px;
  border: solid 2px grey;
  border-radius: 4px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.4rem;
  width: 100%;
  margin-bottom: 2rem;
}
.outer-body-register .body-register .inner-body-register .register-body-form button {
  background-color: #28BBF7;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  margin: 4px 0px;
  cursor: pointer;
  width: 102.9%;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.outer-body-register .body-register .inner-body-register .register-body-form button:hover {
  background-color: #09AAEE;
}
.outer-body-register .body-register .inner-body-register .register-body-form .not-member {
  text-align: center;
  font-size: 17px;
  padding-top: 1.5rem;
}
.outer-body-register .body-register .inner-body-register .register-body-form .not-member a {
  font-weight: bold;
  color: #5875D9;
  text-decoration: none;
}
.outer-body-register .body-register .inner-body-register .register-body-form .not-member a:hover {
  text-decoration: underline;
}

/* Register page on mobile */
@media screen and (max-width: 1000px) {
  .wrapper-register {
    display: grid;
    grid-template-rows: 1fr 10fr;
    height: 100vh;
  }
  .wrapper-register .home-nav-bar {
    padding: 0.5rem;
  }
  .wrapper-register .home-nav-bar .home-nav-link .logo .home-nav-logo img {
    width: 34px;
  }
  .wrapper-register .home-nav-bar .home-nav-link .logo .home-nav-title span {
    font-size: 21px;
  }
  .wrapper-register .home-nav-bar .nav-button-login {
    margin-right: 1rem;
  }
  .wrapper-register .home-nav-bar .nav-button-login a {
    padding: 12px 20px;
    font-size: 14px;
  }

  .outer-body-register .body-register {
    width: 100%;
    margin-bottom: 5rem;
  }
  .outer-body-register .body-register header {
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 31px;
  }
  .outer-body-register .body-register .inner-body-register {
    padding-top: 0;
    width: 80%;
    margin: 0 auto;
  }
  .outer-body-register .body-register .inner-body-register .error-block {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .outer-body-register .body-register .inner-body-register .register-body-form {
    width: 100%;
    padding: 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .outer-body-register .body-register .inner-body-register .register-body-form h1 {
    font-size: 16px;
    margin: 0;
    padding-bottom: 0.4rem;
  }
  .outer-body-register .body-register .inner-body-register .register-body-form input {
    font-size: 16px;
  }
  .outer-body-register .body-register .inner-body-register .register-body-form button {
    padding: 15px 32px;
    font-size: 15px;
  }
  .outer-body-register .body-register .inner-body-register .register-body-form .not-member {
    font-size: 15px;
  }
}
/* End Register page mobile */
/* End Register page */
/* Display name page */
.alter-nav-bar {
  padding-top: 1.1rem;
  padding-bottom: 0;
}

.wrapper-display-name {
  display: grid;
  grid-template-rows: 1fr 10fr;
  height: 100vh;
}

.body-display-name {
  text-align: center;
}
.body-display-name header {
  padding-top: 4rem;
  padding-bottom: 2.5rem;
  font-size: 2.8rem;
  font-weight: bold;
  font-family: Trebuchet MS;
  color: #0D94E3;
}

.outer-body-display-name {
  margin-bottom: 3rem;
}

.inner-body-display-name {
  background-color: #F0F0F0;
  width: 80%;
  height: 65%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 1px 6px #333;
  color: #0D94E3;
  font-family: Trebuchet MS;
}
.inner-body-display-name p {
  font-size: 1rem;
  padding-top: 4rem;
  width: 60%;
  margin: 0 auto;
  text-align: left;
  line-height: 1.5;
  font-style: italic;
  padding-bottom: 2rem;
}
.inner-body-display-name .error-block-outerdiv {
  margin: 0 auto;
  width: 30%;
  display: none;
}
.inner-body-display-name .error-block-outerdiv .error-block {
  background-color: #F11717;
  border-radius: 5px;
}
.inner-body-display-name .error-block-outerdiv .error-block .error-innerblock {
  padding: 0.7rem;
  font-weight: bold;
  color: white;
  line-height: 1.5;
}
.inner-body-display-name .display-name-form-div {
  width: 20%;
  margin: 0 auto;
}
.inner-body-display-name .profile-picture-div {
  padding-top: 1rem;
  margin-bottom: 1rem;
}
.inner-body-display-name .profile-picture-div img {
  width: 100%;
  border-radius: 5px;
  border: solid grey 1px;
}
.inner-body-display-name .profile-picture-div input {
  cursor: pointer;
  border: solid grey 0.5px;
  font-size: 1rem;
  color: #0D94E3;
}
.inner-body-display-name input {
  width: 100%;
  margin-top: 0.5rem;
  font-size: 17px;
  border: solid 2px grey;
  border-radius: 4px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.4rem;
}
.inner-body-display-name button {
  background-color: #28BBF7;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin: 0px 2px;
  cursor: pointer;
  margin-bottom: 2rem;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.inner-body-display-name button:hover {
  background-color: #09AAEE;
}

/* Display name page on mobile */
@media screen and (max-width: 1000px) {
  .alter-nav-bar {
    padding-top: 1rem;
    padding-bottom: 0;
  }

  .body-display-name {
    text-align: center;
  }
  .body-display-name header {
    padding-top: 3.5rem;
    padding-bottom: 2.3rem;
    font-size: 2.2rem;
  }

  .outer-body-display-name {
    margin-bottom: 3rem;
  }

  .inner-body-display-name {
    background-color: #F0F0F0;
    width: 90%;
    height: 65%;
  }
  .inner-body-display-name p {
    font-size: 1rem;
    padding-top: 3rem;
    width: 80%;
    padding-bottom: 2rem;
  }
  .inner-body-display-name .error-block-outerdiv {
    width: 80%;
  }
  .inner-body-display-name .display-name-form-div {
    width: 40%;
  }
  .inner-body-display-name .profile-picture-div {
    padding-top: 1rem;
    margin-bottom: 1rem;
  }
  .inner-body-display-name .profile-picture-div img {
    width: 100%;
  }
  .inner-body-display-name .profile-picture-div input {
    font-size: 1rem;
  }
  .inner-body-display-name input {
    margin-top: 0.5rem;
    font-size: 16px;
  }
  .inner-body-display-name button {
    padding: 15px 30px;
    font-size: 16px;
  }
}
/* End Display name page mobile */
/* End Display name page */
/* Message page */
.wrapper-message {
  display: grid;
  grid-template-columns: 2fr 10fr;
  height: 100vh;
}

.channel-panel {
  background-color: #006CAB;
  color: #fff;
}
.channel-panel #display-name-user {
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: 1.8rem;
  padding-top: 1.7rem;
  border-bottom: solid 2px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.channel-panel #display-name-user .display-name-div {
  margin-right: 1.3rem;
  margin-left: 1.8rem;
}
.channel-panel #display-name-user .display-name-edit-div i {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.channel-panel #display-name-user .display-name-edit-div i:hover {
  color: #1693DC;
}
.channel-panel #display-name-user .display-name-close-menu {
  margin-left: 2rem;
  margin-right: 1rem;
  display: none;
}
.channel-panel #display-name-user .display-name-close-menu i {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.channel-panel #display-name-user .display-name-close-menu i:hover {
  color: #1693DC;
}
.channel-panel header {
  font-size: 19px;
  padding-bottom: 0.3rem;
  margin-top: 2.5rem;
  margin-left: 0.7rem;
  margin-right: 0;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.channel-panel header a {
  margin-left: 1rem;
}
.channel-panel header a i {
  font-size: 18px;
  padding-right: 0.3rem;
}
.channel-panel header:hover {
  color: lightgrey;
}
.channel-panel ul {
  padding-left: 2rem;
  list-style: none;
}
.channel-panel ul .chosen-channel {
  width: 99%;
  margin-bottom: 0.5rem;
  display: table;
  display: inline-block;
  background-color: #37B4F3;
  border: solid white 2px;
  border-right: none;
  border-radius: 5px 0 0 5px;
}
.channel-panel ul .chosen-channel button {
  display: table-cell;
  border: none;
  outline: none;
  text-align: left;
  background-color: #37B4F3;
  color: white;
  padding: 0.6rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.channel-panel ul .chosen-channel button i {
  padding-left: 0.6rem;
}
.channel-panel ul .chosen-channel button:hover {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}
.channel-panel ul .other-channel {
  width: 99%;
  margin-bottom: 0.5rem;
  display: table;
  display: inline-block;
}
.channel-panel ul .other-channel button {
  display: table-cell;
  border: none;
  outline: none;
  text-align: left;
  background-color: #006CAB;
  color: lightgrey;
  padding: 0.6rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.channel-panel ul .other-channel button i {
  padding-left: 0.6rem;
}
.channel-panel ul .other-channel button:hover {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}
.channel-panel #open_channel {
  display: none;
}
.channel-panel #close_channel {
  display: none;
}

.message-panel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.info-panel {
  flex: 8%;
  box-shadow: 0 1px 6px #333;
  display: flex;
  align-items: center;
}
.info-panel .message-open-menu-div {
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1.8rem;
  margin-left: 1.7rem;
  font-size: 17px;
  display: inline-flex;
  align-items: center;
}
.info-panel .message-open-menu-div i {
  display: none;
  margin-right: 1.8rem;
  font-size: 1.7rem;
  color: #28BBF7;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.info-panel .message-open-menu-div i:hover {
  color: #09AAEE;
}
.info-panel .message-logout-div {
  flex: 50%;
}
.info-panel .message-logout-div a {
  background-color: #28BBF7;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 0px;
  cursor: pointer;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
  margin-right: 2.3rem;
  float: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.info-panel .message-logout-div a:hover {
  background-color: #09AAEE;
}

.message-box {
  flex: 86%;
  overflow: auto;
}
.message-box ul {
  margin-top: 1.5rem;
  list-style: none;
  padding: 0;
}
.message-box ul .message-item {
  text-align: left;
  display: flex;
  margin-left: 1.5rem;
}
.message-box ul .message-item .message-item-img {
  display: flex;
  align-items: center;
}
.message-box ul .message-item .message-item-img img {
  width: 3.5rem;
  height: 3rem;
  border-radius: 5px;
  object-fit: cover;
}
.message-box ul .message-item .message-item-body {
  margin-left: 1rem;
}
.message-box ul .message-item .message-item-body header {
  font-size: 16px;
  font-weight: bold;
  padding-top: 1.1rem;
  padding-bottom: 0.6rem;
  display: inline-block;
}
.message-box ul .message-item .message-item-body header img {
  width: 8rem;
}
.message-box ul .message-item .message-item-body .chat-time-outer {
  padding-left: 0.3rem;
  display: table;
  display: inline-block;
}
.message-box ul .message-item .message-item-body .chat-time-outer .chat-time-inner {
  font-family: Verdana;
  color: #555555;
  font-size: 11px;
  display: table-cell;
}
.message-box ul .message-item .message-item-body a {
  color: #39AFE0;
  text-decoration: none !important;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.message-box ul .message-item .message-item-body a:hover {
  color: #4FCBFF;
}
.message-box ul .message-item .message-item-body li {
  font-size: 15.5px;
  padding-bottom: 1.1rem;
}
.message-box ul .message-item .message-item-body .chat-message-file-div {
  margin-right: 0.5rem;
  white-space: nowrap;
}
.message-box ul .message-item .message-item-body .chat-message-file-div .chat-message-file-innerdiv {
  padding: 0.7rem;
  border: solid grey 1px;
  border-radius: 5px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s i;
  transition-duration-font-size: 1.1rem;
}
.message-box ul .message-item .message-item-body .chat-message-file-div .chat-message-file-innerdiv .chat-message-file {
  display: inline-block;
  margin-left: 0.3rem;
}
.message-box ul .message-item .message-item-body .chat-message-file-div .chat-message-file-innerdiv:hover {
  background-color: black;
}

.input-box {
  flex: 6%;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 1.3rem;
  padding-left: 0rem;
  padding-right: 1rem;
  padding-top: 1rem;
  display: flex;
}
.input-box .message-box-div {
  width: 100%;
}
.input-box .message-box-div .message-box-innerdiv {
  display: flex;
  width: 98%;
  margin-left: 0.8rem;
}
.input-box .message-box-div .message-box-innerdiv i {
  font-size: 1.3rem;
  padding: 10px;
  width: 3%;
  text-align: center;
  color: black;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  background-color: white;
  border: solid black 1.5px;
  border-radius: 6px 0 0 6px;
  border-right: none;
}
.input-box .message-box-div .message-box-innerdiv i:hover {
  color: white;
  background-color: #0095FF;
}
.input-box .message-box-div .message-box-innerdiv input {
  width: 100%;
  outline: none;
  margin: 0 auto;
  border: solid 1.5px;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  font-size: 17px;
  border-radius: 0 6px 6px 0;
}

#message-button {
  display: none;
}

#hidden-input {
  display: none;
}

#add_channel_overlay {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
#add_channel_overlay #inner_overlay_box {
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 1px 6px #333;
  overflow: auto;
  text-align: center;
  padding: 1rem 2rem 1rem 2rem;
}
#add_channel_overlay #inner_overlay_box #close_overlay_button {
  text-align: right;
}
#add_channel_overlay #inner_overlay_box #close_overlay_button a {
  background-color: white;
  color: black;
  margin: 0;
}
#add_channel_overlay #inner_overlay_box #close_overlay_button a i {
  font-size: 25px;
}
#add_channel_overlay #inner_overlay_box #close_overlay_button a i:hover {
  color: grey;
}
#add_channel_overlay #inner_overlay_box #public_radio {
  margin-right: 3rem;
  margin-bottom: 0.5rem;
  -webkit-transform: scale(1.2);
  cursor: pointer;
}
#add_channel_overlay #inner_overlay_box #private_radio {
  -webkit-transform: scale(1.2);
  cursor: pointer;
}
#add_channel_overlay #inner_overlay_box header {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: Verdana;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
#add_channel_overlay #inner_overlay_box .add-channel-error-div {
  width: 100%;
  background-color: #F11717;
  border-radius: 5px;
  display: none;
}
#add_channel_overlay #inner_overlay_box .add-channel-error-div .add-channel-error-innerdiv {
  padding: 0.7rem;
  font-weight: bold;
  color: white;
  line-height: 1.5;
}
#add_channel_overlay #inner_overlay_box input {
  margin-top: 1.5rem;
  font-size: 18px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 5px;
  border: solid 1px grey;
}
#add_channel_overlay #inner_overlay_box #key_input {
  display: none;
  margin-bottom: 0.5rem;
}
#add_channel_overlay #inner_overlay_box button {
  background-color: #28BBF7;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 0px;
  cursor: pointer;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#add_channel_overlay #inner_overlay_box button:hover {
  background-color: #09AAEE;
}

.upload-file-overlay {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.upload-file-overlay .upload-file-innerdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  margin: 0 auto;
  border-radius: 7px;
  box-shadow: 0 1px 6px #333;
  overflow: auto;
  text-align: center;
  padding: 2rem;
}
.upload-file-overlay .upload-file-innerdiv .upload-error-div {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #F11717;
  border-radius: 5px;
  display: none;
}
.upload-file-overlay .upload-file-innerdiv .upload-error-div .upload-error-innerdiv {
  padding: 0.7rem;
  font-weight: bold;
  color: white;
  line-height: 1.5;
}
.upload-file-overlay .upload-file-innerdiv .upload-file-div {
  margin-bottom: 1.2rem;
}
.upload-file-overlay .upload-file-innerdiv .upload-file-div input {
  padding: 0.6rem;
  border: solid grey 1px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.upload-file-overlay .upload-file-innerdiv .upload-file-btns .upload-button-send {
  background-color: #28BBF7;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  margin: 4px 0px;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.upload-file-overlay .upload-file-innerdiv .upload-file-btns .upload-button-send:hover {
  background-color: #09AAEE;
}
.upload-file-overlay .upload-file-innerdiv .upload-file-btns .upload-button-cancel {
  margin-left: 1.1rem;
  color: #339DDA;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.upload-file-overlay .upload-file-innerdiv .upload-file-btns .upload-button-cancel:hover {
  text-decoration: underline;
}

#channel_key_overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}
#channel_key_overlay #channel_key_content {
  background-color: white;
  box-shadow: 0 1px 6px #333;
  text-align: center;
  overflow: auto;
  border-radius: 7px;
  padding: 0.5rem 1.8rem 0.5rem 2rem;
}
#channel_key_overlay #channel_key_content span {
  color: black;
  float: right;
  margin-top: 0.5rem;
}
#channel_key_overlay #channel_key_content span i {
  font-size: 25px;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
#channel_key_overlay #channel_key_content span i:hover {
  color: grey;
}
#channel_key_overlay #channel_key_content p {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  font-weight: bold;
  font-size: 25px;
  font-family: Verdana;
  margin-bottom: 0;
}
#channel_key_overlay #channel_key_content .channel-key-error-div {
  margin: 0 auto;
  background-color: #F11717;
  border-radius: 5px;
  display: none;
  width: 55.5%;
}
#channel_key_overlay #channel_key_content .channel-key-error-div .channel-key-error-innerdiv {
  padding: 0.7rem;
  font-weight: bold;
  color: white;
  line-height: 1.5;
}
#channel_key_overlay #channel_key_content input {
  margin-top: 0.5rem;
  font-size: 18px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 5px;
  border: solid 1px grey;
  width: 52%;
}
#channel_key_overlay #channel_key_content button {
  background-color: #28BBF7;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 12px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 0px;
  cursor: pointer;
  display: inline-block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#channel_key_overlay #channel_key_content button:hover {
  background-color: #09AAEE;
}

/* Message page on mobile */
@media screen and (max-width: 1300px) {
  .wrapper-message {
    display: block;
  }

  .channel-panel {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    left: 0;
    width: 0;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    transition-duration: 0.2s;
  }
  .channel-panel .channel-panel-innerdiv {
    display: block;
    height: 100%;
    width: 20%;
    min-width: 15rem;
    background-color: #006CAB;
    overflow: scroll;
  }
  .channel-panel #display-name-user {
    font-size: 1.2rem;
    padding-bottom: 1.8rem;
    padding-top: 1.85rem;
  }
  .channel-panel #display-name-user .display-name-div {
    margin-right: 1.3rem;
    margin-left: 1.8rem;
  }
  .channel-panel #display-name-user .display-name-edit-div i {
    font-size: 1.4rem;
  }
  .channel-panel #display-name-user .display-name-close-menu {
    margin-left: 2rem;
    margin-right: 1.5rem;
    display: block;
    width: 100%;
    text-align: right;
  }
  .channel-panel #display-name-user .display-name-close-menu i {
    font-size: 1.4rem;
  }
  .channel-panel header {
    font-size: 18px;
    padding-bottom: 0.3rem;
    margin-top: 2.5rem;
    margin-left: 0.7rem;
    margin-right: 0;
  }
  .channel-panel header a {
    margin-left: 1rem;
  }
  .channel-panel header a i {
    font-size: 17px;
    padding-right: 0.3rem;
  }
  .channel-panel ul {
    padding-left: 2rem;
  }
  .channel-panel ul .chosen-channel {
    margin-bottom: 0.5rem;
  }
  .channel-panel ul .chosen-channel button {
    padding: 0.6rem;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 16px;
  }
  .channel-panel ul .chosen-channel button i {
    padding-left: 0.6rem;
  }
  .channel-panel ul .other-channel {
    margin-bottom: 0.5rem;
  }
  .channel-panel ul .other-channel button {
    padding: 0.6rem;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 16px;
  }
  .channel-panel ul .other-channel button i {
    padding-left: 0.6rem;
  }

  .message-panel {
    height: 100vh;
  }

  .info-panel .message-open-menu-div {
    margin-top: 2rem;
    margin-bottom: 1.8rem;
    margin-left: 1.7rem;
    font-size: 16px;
  }
  .info-panel .message-open-menu-div i {
    display: block;
    margin-right: 1.8rem;
    font-size: 1.6rem;
  }
  .info-panel .message-logout-div a {
    padding: 12px 18px;
    font-size: 15px;
    margin: 4px 0px;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    margin-right: 2.3rem;
  }

  .message-box ul {
    margin-top: 1.5rem;
  }
  .message-box ul .message-item {
    margin-left: 1.5rem;
  }
  .message-box ul .message-item .message-item-img img {
    width: 3rem;
    height: 2.5rem;
    border-radius: 5px;
    object-fit: cover;
  }
  .message-box ul .message-item .message-item-body {
    margin-left: 1rem;
  }
  .message-box ul .message-item .message-item-body header {
    font-size: 15px;
    font-weight: bold;
    padding-top: 1.1rem;
    padding-bottom: 0.5rem;
  }
  .message-box ul .message-item .message-item-body .chat-time-outer {
    padding-left: 0.3rem;
    display: table;
    display: inline-block;
  }
  .message-box ul .message-item .message-item-body .chat-time-outer .chat-time-inner {
    font-size: 11px;
  }
  .message-box ul .message-item .message-item-body li {
    font-size: 15px;
    padding-bottom: 1.1rem;
  }
  .message-box ul .message-item .message-item-body .chat-message-file-div .chat-message-file-innerdiv {
    padding: 0.7rem;
  }
  .message-box ul .message-item .message-item-body .chat-message-file-div .chat-message-file-innerdiv i {
    font-size: 1rem;
  }
  .message-box ul .message-item .message-item-body .chat-message-file-div .chat-message-file-innerdiv .chat-message-file {
    display: inline-block;
    font-size: 0.9rem;
    margin-left: 0.3rem;
  }
  .message-box ul .message-item .message-item-body .chat-message-file-div .chat-message-file-innerdiv:hover {
    background-color: black;
  }

  .input-box {
    flex: 6%;
    width: 97%;
    padding-bottom: 1.3rem;
    padding-left: 0rem;
    padding-right: 1rem;
    padding-top: 1rem;
  }
  .input-box .message-box-div {
    width: 100%;
  }
  .input-box .message-box-div .message-box-innerdiv {
    width: 98%;
    margin-left: 0.8rem;
  }
  .input-box .message-box-div .message-box-innerdiv i {
    font-size: 1.3rem;
    padding: 10px;
    padding-left: 11px;
    min-width: 5%;
  }
  .input-box .message-box-div .message-box-innerdiv i:hover {
    color: white;
    background-color: #0095FF;
  }
  .input-box .message-box-div .message-box-innerdiv input {
    width: 100%;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    font-size: 16px;
  }

  #message-button {
    display: none;
  }

  #hidden-input {
    display: none;
  }

  #add_channel_overlay {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
  }
  #add_channel_overlay #inner_overlay_box {
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 1px 6px #333;
    overflow: auto;
    text-align: center;
    padding: 1rem 2rem 1rem 2rem;
  }
  #add_channel_overlay #inner_overlay_box #close_overlay_button {
    text-align: right;
  }
  #add_channel_overlay #inner_overlay_box #close_overlay_button a {
    background-color: white;
    color: black;
    margin: 0;
  }
  #add_channel_overlay #inner_overlay_box #close_overlay_button a i {
    font-size: 25px;
  }
  #add_channel_overlay #inner_overlay_box #close_overlay_button a i:hover {
    color: grey;
  }
  #add_channel_overlay #inner_overlay_box #public_radio {
    margin-right: 3rem;
    margin-bottom: 0.5rem;
    -webkit-transform: scale(1.2);
    cursor: pointer;
  }
  #add_channel_overlay #inner_overlay_box #private_radio {
    -webkit-transform: scale(1.2);
    cursor: pointer;
  }
  #add_channel_overlay #inner_overlay_box header {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: Verdana;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
  }
  #add_channel_overlay #inner_overlay_box .add-channel-error-div {
    width: 100%;
    background-color: #F11717;
    border-radius: 5px;
    display: none;
  }
  #add_channel_overlay #inner_overlay_box .add-channel-error-div .add-channel-error-innerdiv {
    padding: 0.7rem;
    font-weight: bold;
    color: white;
    line-height: 1.5;
  }
  #add_channel_overlay #inner_overlay_box input {
    margin-top: 1.5rem;
    font-size: 18px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 5px;
    border: solid 1px grey;
  }
  #add_channel_overlay #inner_overlay_box #key_input {
    display: none;
    margin-bottom: 0.5rem;
  }
  #add_channel_overlay #inner_overlay_box button {
    background-color: #28BBF7;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 0px;
    cursor: pointer;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  #add_channel_overlay #inner_overlay_box button:hover {
    background-color: #09AAEE;
  }

  .upload-file-overlay {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  .upload-file-overlay .upload-file-innerdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin: 0 auto;
    border-radius: 7px;
    box-shadow: 0 1px 6px #333;
    overflow: auto;
    text-align: center;
    padding: 2rem;
  }
  .upload-file-overlay .upload-file-innerdiv .upload-error-div {
    width: 100%;
    margin-bottom: 1rem;
    background-color: #F11717;
    border-radius: 5px;
    display: none;
  }
  .upload-file-overlay .upload-file-innerdiv .upload-error-div .upload-error-innerdiv {
    padding: 0.7rem;
    font-weight: bold;
    color: white;
    line-height: 1.5;
  }
  .upload-file-overlay .upload-file-innerdiv .upload-file-div {
    margin-bottom: 1.2rem;
  }
  .upload-file-overlay .upload-file-innerdiv .upload-file-div input {
    padding: 0.6rem;
    border: solid grey 1px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  .upload-file-overlay .upload-file-innerdiv .upload-file-btns .upload-button-send {
    background-color: #28BBF7;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    margin: 4px 0px;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }
  .upload-file-overlay .upload-file-innerdiv .upload-file-btns .upload-button-send:hover {
    background-color: #09AAEE;
  }
  .upload-file-overlay .upload-file-innerdiv .upload-file-btns .upload-button-cancel {
    margin-left: 1.1rem;
    color: #339DDA;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }
  .upload-file-overlay .upload-file-innerdiv .upload-file-btns .upload-button-cancel:hover {
    text-decoration: underline;
  }

  #channel_key_overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
  }
  #channel_key_overlay #channel_key_content {
    background-color: white;
    box-shadow: 0 1px 6px #333;
    text-align: center;
    overflow: auto;
    border-radius: 7px;
    padding: 0.5rem 1.8rem 0.5rem 2rem;
  }
  #channel_key_overlay #channel_key_content span {
    color: black;
    float: right;
    margin-top: 0.5rem;
  }
  #channel_key_overlay #channel_key_content span i {
    font-size: 25px;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }
  #channel_key_overlay #channel_key_content span i:hover {
    color: grey;
  }
  #channel_key_overlay #channel_key_content p {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    font-weight: bold;
    font-size: 25px;
    font-family: Verdana;
    margin-bottom: 0;
  }
  #channel_key_overlay #channel_key_content .channel-key-error-div {
    margin: 0 auto;
    background-color: #F11717;
    border-radius: 5px;
    display: none;
    width: 55.5%;
  }
  #channel_key_overlay #channel_key_content .channel-key-error-div .channel-key-error-innerdiv {
    padding: 0.7rem;
    font-weight: bold;
    color: white;
    line-height: 1.5;
  }
  #channel_key_overlay #channel_key_content input {
    margin-top: 0.5rem;
    font-size: 18px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 5px;
    border: solid 1px grey;
    width: 52%;
  }
  #channel_key_overlay #channel_key_content button {
    background-color: #28BBF7;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 0px;
    cursor: pointer;
    display: inline-block;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  #channel_key_overlay #channel_key_content button:hover {
    background-color: #09AAEE;
  }
}
/* End Message page mobile */
/*End Message page */

/*# sourceMappingURL=stylesheet.css.map */
